body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
        .container1 {
            display: flex;
            background-color: white;
            padding: 10px;
        }

        .conteiner2 {
            display: flex;
            background-color: white;
            padding: 10px;
        }

        .conteiner3 {
            display: flex;
            background-color: white;
            padding: 10px;
        }

        header {
            width: 100%;
            padding: 10px;
            border-radius: 7px;
            background: rgb(131,58,180);
            background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
            box-shadow: 5px 10px 8px #888888;
        }

        main {
            flex: 3; 
            background: rgb(238,174,202);
            background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
            box-shadow: 5px 10px 8px #888888;
            border-radius: 7px;
            padding: 20px;
            
            
        }
        aside {
            flex: 1; 
            background: rgb(63,94,251);
            background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
            box-shadow: 5px 10px 8px #888888;
            padding: 20px;
            border-radius: 7px;
        }

        footer {
            width: 100%;
            padding: 10px;
            border-radius: 7px;
            background: rgb(34,193,195);
            background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
            box-shadow: 5px 10px 8px #888888;
        }

        .square {
            display: inline-block;
            background-color: white; 
            width: 3%; 
            height: 3%; 
            margin: 2%;
            padding: 30px;
            border-radius: 7px; 
            border: 1px solid black; 
            justify-content: space-around;
        }

        #space {
        margin: 10px;
        }